## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Chifeng,CN,42.27,118.96,36.23,76,100,8.48,overcast clouds
1,1,Kenitra,MA,34.26,-6.58,64.72,88,32,7.09,scattered clouds
2,2,Vage,NO,60.05,5.52,51.51,92,100,11.83,overcast clouds
3,3,Doha,QA,25.29,51.53,80.49,79,0,2.30,clear sky
4,4,Cidreira,BR,-30.18,-50.21,67.84,88,32,22.06,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 120

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kenitra,MA,34.26,-6.58,64.72,88,32,7.09,scattered clouds
3,3,Doha,QA,25.29,51.53,80.49,79,0,2.30,clear sky
4,4,Cidreira,BR,-30.18,-50.21,67.84,88,32,22.06,scattered clouds
5,5,Chuy,UY,-33.70,-53.46,64.85,89,45,11.79,scattered clouds
7,7,Hasaki,JP,35.73,140.83,61.29,67,86,9.55,moderate rain
10,10,Rikitea,PF,-23.12,-134.97,75.09,87,86,21.25,overcast clouds
14,14,Wanning,CN,18.80,110.40,76.86,87,94,7.02,overcast clouds
15,15,Libertador General San Martin,AR,-23.81,-64.79,76.75,72,62,3.09,light rain
16,16,Puerto Ayora,EC,-0.74,-90.35,70.70,84,96,8.23,overcast clouds
17,17,Lalganj,IN,25.87,85.18,64.35,67,0,4.12,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                419
City                   419
Country                417
Lat                    419
Lng                    419
Max Temp               419
Humidity               419
Cloudiness             419
Wind Speed             419
Current Description    419
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                417
City                   417
Country                417
Lat                    417
Lng                    417
Max Temp               417
Humidity               417
Cloudiness             417
Wind Speed             417
Current Description    417
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kenitra,MA,64.72,scattered clouds,34.26,-6.58,
3,Doha,QA,80.49,clear sky,25.29,51.53,
4,Cidreira,BR,67.84,scattered clouds,-30.18,-50.21,
5,Chuy,UY,64.85,scattered clouds,-33.70,-53.46,
7,Hasaki,JP,61.29,moderate rain,35.73,140.83,
10,Rikitea,PF,75.09,overcast clouds,-23.12,-134.97,
14,Wanning,CN,76.86,overcast clouds,18.80,110.40,
15,Libertador General San Martin,AR,76.75,light rain,-23.81,-64.79,
16,Puerto Ayora,EC,70.70,overcast clouds,-0.74,-90.35,
17,Lalganj,IN,64.35,clear sky,25.87,85.18,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
clean_hotel_df = hotel_df
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kenitra,MA,64.72,scattered clouds,34.26,-6.58,Bienvenue chez vous
3,Doha,QA,80.49,clear sky,25.29,51.53,Movenpick Hotel Doha
4,Cidreira,BR,67.84,scattered clouds,-30.18,-50.21,Hotel Castelo
5,Chuy,UY,64.85,scattered clouds,-33.70,-53.46,Nuevo Hotel Plaza
7,Hasaki,JP,61.29,moderate rain,35.73,140.83,Hotel Sunrise Choshi
...,...,...,...,...,...,...,...
697,Basco,PH,80.83,broken clouds,20.45,121.97,Nathaniel's Lodge
699,Gigmoto,PH,80.74,overcast clouds,13.78,124.39,Cj's Travellers Inn
702,Sokoto,NG,81.70,few clouds,13.06,5.24,Shukura Coral Hotel
703,Scalea,IT,60.33,light rain,39.81,15.80,Grand Hotel de Rose
704,Jagannathpur,IN,67.48,broken clouds,22.23,85.65,Hotel sidhiviynak

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))